*{
    margin: 0px;
    padding: 0px;
}
.search img {
    width: 17px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin: 0;
    background: rgb(39, 35, 35);
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}
.box{
    background: #eaeaead0;
    padding: 25px;
    border-radius: 30px;
    width: 100%;
    max-width: 450px;
    margin: 15px;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.search button{
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none; 
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.search input{
    border: none;
    padding: 8px;
    outline: none;
    border-radius: 18px;
    width: 100%;
    max-width: 250px;
    font-size: 100%;
}
button:hover{
    background: #928D89;
}
.flex{
    display: flex;
    align-items: center;
}
.temp{
    margin: 10px;
}
.description{
    margin-left: 5px;
}
.weather.loading{
    display: none;

}
.weather.loading:after{
    visibility: visible;
}